<html>
<meta charset="UTF-8">
<title>Url сокращатель</title>
   <style>
	body {
		background-image: url("/static/images/1.jpg");
		color: #fff;
		background-attachment: fixed;
	}

	.center {
		text-align:center;
	}

	.font-24 {
		font-size: 24px;
	}

	.padding-12 {
		padding: 12px;
	}

	.md-width {
		width: 30%;
	}
   </style>
 </head>
<hr>
<h1 class="center">Сокращатель урлов</h1>
<hr>

<form action="/" method="post" class="center">
                        <p><input class="padding-12 md-width" type="text" name="url" placeholder="url" aria-label="label"/><p>
                        <p><input class="padding-12 md-width" type="text" name="user_url" placeholder="желаемый url" aria-label="label"/><p>
                        <button type="submit" class="padding-12">Submit</button>
</form>
{% if shortened_url %}

<p class="center font-24">Ваш сокращенный url: <a href="http://{{ shortened_url }}">{{ shortened_url }}</a></p>

{% endif %}

{% if error %}

<p class="center font-24">Произошла ошибка: {{ error }}</p>

{% endif %}

</body>
</html>